<!DOCTYPE HTML>
<!-- index.html -->
<html> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">

<title>{title}</title>
{keys}
	<meta content='{desc}' name="description"/>


<link rel="stylesheet" type="text/css" href="/template/default/css/stl.css" >
<link rel="stylesheet" type="text/css" href="/template/default/css/style.css" />
<link rel="stylesheet" type="text/css" href='/highslide/highslide.css' />

<script src="/js/jquery-1.12.4.min.js" ></script>
        <script type="text/javascript" src="/js/slidermain/vmc.simple.slide.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../js/slidermain/css/style.css">
        
<!-- <script type="text/javascript" src="/template/default/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/template/default/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/template/default/js/dw_scroll_c.js"></script>
<script type="text/javascript" src="/template/default/js/jquery.roundabout.js"></script>
<script type="text/javascript" src="/template/default/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/core/ext-core.js"></script> 
<script type="text/javascript" src="/core/form.js"></script>
<script type="text/javascript" src="/highslide/highslide-full.js"></script>
<script type="text/javascript" src="/template/default/js/scripts.js"></script>
-->


<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="//www.googletagmanager.com/gtag/js?id=UA-134226337-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134226337-1');
</script>
<!-- //- Google Analytics -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(52480054, "init", {
        id:52480054,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/52480054" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>

<body>
<div id="container">
	<div class="top">
		<a href="/" class="logo">{block_logo}</a>
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/o_kompanii">О компании</a></li>
			<li><a href="/news">Новости</a></li>
			<li><a href="/articles">Статьи</a></li>
			<li><a href="/uslugi">Услуги</a></li>
			<li><a href="/ceni">Цены</a></li>			
			<li><a href="/gallery">Портфолио</a></li>
			<li><a href="/kontakti">Контакты</a></li>
                        
		</ul>
		<p class="tp"><span>{block_tel_top}</span>
			<a href="mailto:info@masterkov.ru" >info@masterkov.ru</a>
			<i><img src="/img/map-metka.png">Москва и Московская область</i>
		</p>
	</div> 

	<div class="center clearFix">
                    <h1>{title_page}</h1>  
                        {module}
	</div>
	<div class="block9a">
			<ul>
				<li class="ad1">Гарантия на все <br>виды работ &ndash; 1 год</li>
				<li class="ad2">Бесплатное составление&nbsp;сметы</li>
				<li class="ad3">Составление<br> дизайн проекта</li>
				<li class="ad4">Работаем<br>по договору</li>
				<li class="ad5">Использование качественных материалов</li>
			</ul>
		<div style="clear: both"></div>
	</div>
		<div class="text5">
			<table style="margin: 0 auto; display: black;">
				<tr>
					<td><span class="t1">Поделиться ремонтом:</span></td>
					<td><script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script> 
						<script src="//yastatic.net/share2/share.js"></script>
						<div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter" data-counter=""></div>
					</td>
				</tr>
			</table>
		</div>
	<div class="foot">
		<p class="copy">&copy; {block_copy}<span>{block_slogan}</span></p>
		
		<div class="bp">
			<!-- <p class="bp1">{block_adres_bottom}</p> -->
			<p class="bp2">{block_tel_bottom}</p>
			<p class="bp3">{block_email_bottom}</p>
		</div>
				
		<ul>
	   	<li><a href="/o_kompanii">О компании</a></li>
        <li><a href="/uslugi">Услуги</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/articles">Статьи</a></li>
        <li><a href="/gallery">Портфолио</a></li>
        <li><a href="/kontakti">Контакты</a></li>
		<li><a href="/sitemap">Карта сайта</a></li>
		</ul>
		
		
	</div>
</div>

<div id="fade">&nbsp;</div>
<div style="display: none;" id="container2">

	<div class="blockCall">
		<img src='/template/default/img/popup/pic21.gif' alt="" class="closer21" />
		<p class="blockCall-title callme">Перезвоните мне</p>
		<p class="txtP1">Пожалуйста, заполните краткую контактную информацию,<br />и наши сотрудники обязательно свяжутся с Вами.</p>
		<form method="post" id="callback" name="callback">
			<table>
				<tr>
					<td style="width:110px"><p>Имя<span>*</span></p></td>
					<td><input type="text" name="name" value="" class="w256" /></td>
				</tr>
				<tr>
					<td><p>Телефон<span>*</span></p></td>
					<td>+7 <input type="text" name="phone" value="" class="w229" /></td>
				</tr>
				<tr>
					<td><p>Комментарий</p></td>
					<td><textarea rows="5" name="comment" cols="40"></textarea></td>
				</tr>
				<tr>
					<td><p style="padding-top:3px">Время звонка</p></td>
					<td><select name="s" size="1"><option value="В ближайшее время">В ближайшее время</option><option value="Утром">Утром</option><option value="Днем">Днем</option><option value="Вечером">Вечером</option></option></select></td>
				</tr>
				
				<tr>
					<td>&nbsp;</td>
					<td><a href="#"  onclick="callbackpostForm();return false;" class="btn101"><img src='/template/default/img/popup/btn101.gif' alt="" /></a></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<!-- BEGIN JIVOSITE CODE {literal} 
<script type='text/javascript'>
(function(){ var widget_id = 'jGlUSLdW3r';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
{/literal} END JIVOSITE CODE -->
<script type="text/javascript">
        $(function () {
            $('#vmc-slide').vmcSimpleSlide({
                minWidth: 400
            });
            $('#re-size').on('click', function () {
                $('#vmc-slide').vmcSimpleSlide('reSize');
            });
            $('#show-box').on('click', function () {
                $('#vmc-slide').show();
            });
            $('#hide-box').on('click', function () {
                $('#vmc-slide').hide();
            });
            $('#show-box-2').on('click', function () {
                $('#vmc-slide').show();
                $('#vmc-slide').vmcSimpleSlide('reSize');
            });
        });
    </script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://masterkov.ru/",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+7 926 001 99 59",
    "contactType": "customer service",
    "areaServed": "RU"
  }]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://masterkov.ru/",
  "logo": "http://masterkov.ru/template/default/img/logo_n.png"
}
</script>
</body>
</html>
