<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>{title}</title>
<link href="/template/default/css/stl.css" rel="stylesheet" type="text/css">
<link href="/template/default/css/jquery.prettyCheckboxes.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/template/default/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/template/default/js/jquery.placeholder.min.js"></script>

<script type="text/javascript" src="/template/default/js/dw_scroll_c.js"></script>
<script type="text/javascript" src="/template/default/js/jquery.prettyCheckboxes.js"></script>
<script type="text/javascript" src="/template/default/js/scripts.js"></script>
<script type="text/javascript" src="/core/ext-core.js"></script>
<script type="text/javascript" src="/core/form.js"></script>
<script src='/highslide/highslide-full.js' type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href='/highslide/highslide.css' />
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<script>
$(document).ready(function() {
$('.callBackLink').click(function() {  
		var x = $('body').height();
		$('#fade').height(x+20);
		$('#container2').fadeIn('slow');
		$('#fade').fadeTo('slow',0.5);
		return false;
	});
	
	$('.closer21').click(function() {
		$('#fade, #container2, #container3').fadeOut('slow');
	});
	});
</script>

</head>

<body>
<div class="page">
	<div class="top-bg">
    	<div class="main-pic">
        	<div class="head clearFix">
            	<div class="top-link">
                	<a href="/"><img src="/template/default/img/ico-home.gif" alt=""></a>
                    <a href="{email_admin}"><img src="/template/default/img/ico-email.gif" alt=""></a>
                    <a href="?sitemap"><img src="/template/default/img/ico-map.gif" alt=""></a>
                </div>
                <div class="menu">
                	<a href="/">Главная</a>
                    <span></span>
                    <a href="?pages=2">О компании</a>
                    <span></span>
                    <a href="/news">Новости</a>
                    <span></span>
                    <a href="?gallery">Портфолио</a>
                    <span></span>
                    <a href="?pages=4">Услуги</a>
                    <span></span>
                    <a href="/articles">Статьи</a>
                    <span></span>
                    <a href="?pages=3">Контакты</a>
                </div>
                <div class="cl"></div>
                <a href="/" class="logo">{block_logo}</a>
                <div class="contact">
                	{block_adres_top}
                    <div>{block_tel_top}</div>
                    <a class="callBackLink" href="#">Заказать звонок</a>
                </div>
            </div>
            <div class="center clearFix">
            	<div class="sidebar">
                	<div class="block-dp2">
                        <img src="/template/default/img/block-dp-bg2.png" alt="" class="block-dp-bg">
                        <div class="block-dp-in">
                            <div class="block-dp-ttl"><img src="/template/default/img/block-dp-ttl2.png" alt=""></div>
                           {block_design2}
                        </div>
                    </div>
                    <div class="block-dp2">
                        <img src="/template/default/img/block-dp-bg2.png" alt="" class="block-dp-bg">
                        <div class="block-dp-in">
                            <div class="block-dp-ttl"><img src="/template/default/img/block-rh-ttl2.png" alt=""></div>
                            {block_remont2}
                        </div>
                    </div>
                    {articles_index2}
                </div>
                <div class="content">
                	<h1>{title_page}</h1>
                	<div class="advice-form">
                    	<a href="#advice" name="modal"><img src="/template/default/img/btn-advice.png" alt=""></a>
                    </div>
                   {module}
                </div>
                <div class="cl"></div>
                {wdg_gallery}
            </div>
        </div>
    </div>
</div>
<div class="footer clearFix">
	<div class="social clearFix">
    	<span>Поделится ремонтом:</span>
        <div>{block_soc}</div>
    </div>
    <div class="copy">
    	&copy; {block_copy}
        <div>{block_slogan}</div>
    </div>
    <div class="contact">
    	{block_adres_bottom}
        <div>{block_tel_bottom}</div>
        {block_email_bottom}
    </div>
    <ul class="menu">
    	<li><a href="?pages=2">О компании</a></li>
        <li><a href="?pages=4">Услуги</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/articles">Статьи</a></li>
        <li><a href="?gallery">Портфолио</a></li>
        <li><a href="?pages=3">Контакты</a></li>
    </ul>
    <a href="#" class="banner"><img src="template/default/img/banner.png" alt=""></a>
    <div class="studiya">
    	<a href="http://studiya.ru/" target="_blank"><img src="template/default/img/studiya.png" alt=""></a>
        <div>Разработка и раскрутка сайта</div>
        <a href="http://studiya.ru/" target="_blank">www.studiya.ru</a>
    </div>
</div>
<div id="mask"></div>
<div id="advice" class="advice-popup window">
	<a href="#" class="close"><img src="/template/default/img/close.gif" alt=""></a>
    <h1>Заявка на ремонт</h1>
    <form action="" method="post" id="zayvka1" name="zayvka1">
        <table>
          <tr>
            <td width="196">
                <input name="r[]" type="checkbox" value="Ремонт в гостинной" id="ch1">
                <label for="ch1">Ремонт в гостинной</label>
                <input name="r[]" type="checkbox" value="Ремонт в спальне" id="ch2">
                <label for="ch2">Ремонт в спальне</label>
                <input name="r[]" type="checkbox" value="Ремонт в зале" id="ch3">
                <label for="ch3">Ремонт в зале</label>
                <input name="r[]" type="checkbox" value="Ремонт в ванной" id="ch4">
                <label for="ch4">Ремонт в ванной</label>
            </td>
            <td>
                <input name="r[]" type="checkbox" value="Дизайн дома" id="ch5">
                <label for="ch5">Дизайн дома</label>
                <input name="r[]" type="checkbox" value="Дизайн коттеджа" id="ch6">
                <label for="ch6">Дизайн коттеджа</label>
                <input name="r[]" type="checkbox" value="Дизайн  интерьера" id="ch7">
                <label for="ch7">Дизайн  интерьера</label>
            </td>
          </tr>
        </table>
    	<input name="name" type="text" placeholder="Ф.И.О." class="field">
        <input name="phone" type="text" placeholder="Телефон" class="field">
        <input name="email" type="text" placeholder="E-mail" class="field">
        <textarea name="comment" cols="" rows="" placeholder="Комментарий" class="textarea"></textarea>
        <button type="submit" onclick="callbackpostForm3();return false;" class="btn-advice">Отправить заявку</button>
    </form>
</div>
<div id="fade">&nbsp;</div>
<div id="container2">

	<div class="blockCall">
		<img src='/template/default/img/popup/pic21.gif' alt="" class="closer21" />
		<h3>Перезвоните мне</h3>
		<p class="txtP1">Пожалуйста, заполните краткую контактную информацию,<br />и наши сотрудники обязательно свяжутся с Вами.</p>
		<form method="post" id="callback" name="callback">
			<table>
				<tr>
					<td style="width:110px"><p>Имя<span>*</span></p></td>
					<td><input type="text" name="name" value="" class="w256" /></td>
				</tr>
				<tr>
					<td><p>Телефон<span>*</span></p></td>
					<td>+7 <input type="text" name="phone" value="" class="w229" /></td>
				</tr>
				<tr>
					<td><p>Комментарий</p></td>
					<td><textarea rows="5" name="comment" cols="40"></textarea></td>
				</tr>
				<tr>
					<td><p style="padding-top:3px">Время звонка</p></td>
					<td><select name="s" size="1"><option value="В ближайшее время">В ближайшее время</option><option value="Утром">Утром</option><option value="Днем">Днем</option><option value="Вечером">Вечером</option></option></select></td>
				</tr>
				
				<tr>
					<td>&nbsp;</td>
					<td><a href="#"  onclick="callbackpostForm();return false;" class="btn101"><img src='/template/default/img/popup/btn101.gif' alt="" /></a></td>
				</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>