/*main styles*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,table,th,td{
	margin:0;
	padding:0;
}
body{
    font:14px "Times New Roman", Times, serif;
    color:#fff;
	background:url(../img/bg.jpg) repeat center 1176px;
}
html, body{
	height:100%;
}
input,select,textarea,button{
	font:italic 14px "Times New Roman", Times, serif;
    color:#000;
	vertical-align:middle;
	outline:none;
}
textarea{
	resize:none;
	overflow:auto;
}
table{
	font-size:100%;
	border-collapse:collapse;
}
td{
    vertical-align:top;
}
img{
    border:0;
}
p{
	line-height:22px;
	margin:0 0 10px;
}
blockquote{
	font-style:italic;
	line-height:22px;
	color:#000;
	padding:0 40px;
	margin-bottom:30px;
}
/*default styles*/
a{
    color:#c9b13d;
    text-decoration:underline;
	outline:none;
}
a:hover{
    color:#fff;
	text-decoration:underline;
}
h1{
	font:italic 28px/22px "Times New Roman", Times, serif;
    color:#000;
	margin:0 0 30px;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
}
h2{
	font:italic 24px/26px "Times New Roman", Times, serif;
    color:#3f3f3f;
	margin:0 0 17px;
}
h3{
	font:bold 14px/22px Arial, Helvetica, sans-serif;
    color:#595959;
	margin:0 0 15px;
}
h4{
	font:bold 13px/18px Arial, Helvetica, sans-serif;
    color:#595959;
	margin:0 0 15px;
}
h5{
	font:bold 12px/18px Arial, Helvetica, sans-serif;
    color:#000;
	margin:0 0 6px;
}
ul{
	margin:0 0 29px 0;
	list-style-position:outside;
	list-style-type:none;
}
ol{
	margin:0 0 26px 26px;
	list-style-position:outside;
	list-style-type:decimal;
}
li ul, li ol{
	margin-top:5px;
	margin-bottom:10px;
	list-style-type:none;
}
ul li{
	background:url(../img/li.gif) no-repeat 10px 8px;
	margin-bottom:20px;
	padding-left:26px;
}
ol li{
	margin-bottom:10px;
}
.fl{
	float:left !important;
}
.fr{
	float:right !important;
}
.cl{
	clear:both;
	height:0px;
	font-size:0px;
	overflow:hidden;
}
.clearFix:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
*html .clearFix{
	zoom:1;
}
*+html .clearFix{
	zoom:1;
}
.img-left{
	float:left;
	border:2px solid #c9ccd0;
	margin:6px 19px 3px 0;
}
.img-right{
	float:left;
	border:2px solid #c9ccd0;
	margin:6px 0 3px 19px;
}
::-webkit-input-placeholder{
	color:#000;
}
::-moz-placeholder{
	color:#000;
	opacity:1;
}
.placeholder{
	color:#000;
}
/*format styles*/
.page{
	min-height:100%;
	height:auto !important;
	height:100%;
}
.top-bg{
	background:url(../img/top-bg.jpg) repeat-x center top;
}
.main-pic{
	background:url(../img/main-pic.jpg) no-repeat center top;
}
.head{
	width:960px;
	margin:0 auto;
	padding:30px 0 30px;
}
.head .top-link{
	float:left;
	padding:7px 0 0 105px;
}
.head .top-link a{
	display:block;
	float:left;
	margin-right:44px;
}
.head .top-link a img{
	display:block;
	vertical-align:top;
}
.head .menu{
	float:right;
	font-size:16px;
	font-style:italic;
	line-height:20px;
	margin-bottom:3px;
	padding:0 27px 0 0;
}
.head .menu a{
	display:block;
	float:left;
}
.head .menu a:hover{
	color:#010101;
}
.head .menu a.act{
	color:#010101;
}
.head .menu span{
	display:block;
	float:left;
	background:url(../img/menu-dot.png) no-repeat 0 0;
	width:4px;
	height:4px;
	margin:9px 12px 0;
}
.head .logo{
	display:block;
	float:left;
	margin:0 0 0 -5px;
}
.head .contact{
	float:right;
	font-size:16px;
	font-style:italic;
	line-height:18px;
	color:#000;
	text-align:right;
	padding:42px 22px 0 0;
}
.head .contact div{
	font-size:30px;
	line-height:22px;
	text-shadow:0 -1px 0 rgba(255,255,255,0.33);
	margin:9px 0 5px;
}
.head .contact a{
	font-size:14px;
	line-height:22px;
	text-decoration:none;
	border-bottom:1px dotted #c9b13d;
	text-shadow:0 -1px 0 rgba(255,255,255,0.33);
}
.head .contact a:hover{
	color:#000;
	border-color:#000;
	text-decoration:none;
}
.center{
	width:960px;
	margin:0 auto;
	padding:0 0 230px;
}
.center .welcom{
	position:relative;
	font-size:16px;
	font-style:italic;
	color:#000;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
	padding:35px 245px 0 30px;
	margin-bottom:42px;
}
.center .welcom .welcom-big{
	font-size:24px;
	line-height:22px;
	color:#d9c98c;
	text-shadow:none;
	padding:20px 0 0;
}
.center .form-request{
	position:absolute;
	right:0;
	top:29px;
	background:url(../img/text-bg.png) no-repeat left bottom;
	width:207px;
	padding:0 20px 20px 42px;
}
.center .form-request .form-request-ttl{
	margin-bottom:20px;
}
.center .form-request .field{
	display:block;
	background:#fff;
	background:rgba(255,255,255,0.75);
	border:1px solid #727272;
	border:1px solid rgba(114,114,114,0.75);
	-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.35);
	-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.35);
	box-shadow:inset 1px 1px 1px rgba(0,0,0,0.35);
	width:187px;
	height:18px;
	padding:4px 10px;
	margin-bottom:10px;
}
.center .form-request .textarea{
	display:block;
	background:#fff;
	background:rgba(255,255,255,0.75);
	border:1px solid #727272;
	border:1px solid rgba(114,114,114,0.75);
	-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.35);
	-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.35);
	box-shadow:inset 1px 1px 1px rgba(0,0,0,0.35);
	width:187px;
	height:93px;
	padding:4px 10px;
	margin-bottom:12px;
}
.center .btn-request{
	display:block;
	background:url(../img/btn-request.png) no-repeat 0 0;
	border:0;
	width:116px;
	height:31px;
	font-size:16px;
	line-height:22px;
	color:#fff;
	text-shadow:1px 1px 0 #434343;
	margin:0 auto;
	cursor:pointer;
	padding:0 0 2px;
}
.center .btn-request:hover{
	background-position:0 -31px;
}
.center .block-dp{
	float:left;
	position:relative;
	background:url(../img/block-dp.jpg) no-repeat 0 0;
	width:466px;
	border:1px solid #fff;
	padding:1px;
	margin:0 20px 45px 0;
}
.center .block-dp .block-dp-bg{
	position:absolute;
	left:-9px;
	bottom:-35px;
}
.center .block-dp .block-dp-in{
	border:1px solid #d2ab4a;
	padding:17px 30px 0 145px;
	position:relative;
	color:#0b0b0b;
	min-height:249px;
}
.center .block-dp .block-dp-ttl{
	margin-bottom:3px;
}
.center .block-dp .block-dp-ttl img{
	display:block;
}
.center .block-dp p{
	margin:0 25px 20px 4px;
}
.center .block-dp ul{
	margin:0 0 0 23px;
}
.center .block-dp li{
	background:url(../img/li2.gif) no-repeat 0 4px;
	padding:0 0 0 13px;
	margin:0 0 10px;
	font-weight:bold;
	font-style:italic;
}
.center .block-dp li a{
	color:#9f7417;
}
.center .block-dp li a:hover{
	color:#000;
}
.center .block-rh{
	float:left;
	position:relative;
	background:url(../img/block-rh.jpg) no-repeat 0 0;
	width:466px;
	border:1px solid #fff;
	padding:1px;
	margin:0 0 45px;
}
.center .block-rh .block-rh-bg{
	position:absolute;
	left:-9px;
	bottom:-35px;
}
.center .block-rh .block-rh-in{
	border:1px solid #d2ab4a;
	padding:17px 20px 0 155px;
	position:relative;
	color:#0b0b0b;
	min-height:249px;
}
.center .block-rh .block-rh-ttl{
	margin-bottom:3px;
}
.center .block-rh .block-rh-ttl img{
	display:block;
}
.center .block-rh p{
	margin:0 25px 14px 4px;
}
.center .block-rh ul{
	margin:0 0 0 34px;
}
.center .block-rh li{
	background:url(../img/li2.gif) no-repeat 0 4px;
	padding:0 0 0 13px;
	margin:0 0 10px;
	font-weight:bold;
	font-style:italic;
}
.center .block-rh li a{
	color:#9f7417;
}
.center .block-rh li a:hover{
	color:#000;
}
.center .example-ttl{
	text-align:center;
	margin-bottom:24px;
}
.center .example-ttl img{
	display:block;
	margin:0 auto;
}
.center div#wn{
	width:960px;
	height:268px;
    overflow: hidden;
    position: relative;
}
.center div#scrollbar {
    font-size: 1px;
    height: 37px;
    position: relative;
    width: 960px;
	margin-bottom:25px;
}
.center div#scrollbar .track{
	background:url(../img/track-bg.png) repeat-x 0 16px;
	height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 960px;
}
.center div#scrollbar .dragBar {
	background:url(../img/dragBar.png) no-repeat 0 0;
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 37px;
}
.center .example-item{
	float:left;
	width:227px;
	margin:0 0 0 18px;
}
.center .example td:first-child .example-item{
	margin:0;
}
.center .example-item .example-item-ttl{
	font-size:16px;
	font-style:italic;
	line-height:20px;
	margin-bottom:17px;
	height:40px;
	overflow:hidden;
}
.center .example-item img{
	display:block;
	border:1px solid #010101;
	margin-bottom:14px;
}
.center .example-item .example-item-date{
	font-size:11px;
	font-style:italic;
	color:#fff;
	text-align:center;
}
.center .review{
	float:left;
	position:relative;
	width:305px;
	padding:38px 35px 35px 130px;
}
.center .review .review-pic{
	position:absolute;
	left:-24px;
	top:0;
}
.center .review .review-ttl{
	margin-bottom:26px;
}
.center .review .review-ttl img{
	display:block;
}
.center .review p{
	font-size:16px;
	font-style:italic;
	line-height:20px;
	margin:0 0 15px;
}
.center .review .review-author{
	font-size:16px;
	line-height:20px;
	color:#888;
	margin-bottom:29px;
}
.center .review .review-refresh{
	display:inline-block;
	position:relative;
	font-size:12px;
	padding:0 0 0 24px;
}
.center .review .review-refresh img{
	position:absolute;
	left:-3px;
	top:0;
}
.center .advice{
	float:right;
	position:relative;
	width:309px;
	padding:38px 5px 35px 151px;
}
.center .advice .advice-pic{
	position:absolute;
	left:-2px;
	top:0;
}
.center .advice .advice-ttl{
	margin-bottom:19px;
}
.center .advice .advice-ttl img{
	display:block;
}
.center .advice .advice-link{
	font-size:22px;
	font-style:italic;
	line-height:20px;
	margin-bottom:28px;
}
.center .advice p{
	line-height:20px;
	margin:0 5px 22px 0;
	color:#fcfcfc;
}
.center .advice .advice-refresh{
	display:inline-block;
	position:relative;
	font-size:12px;
	padding:0 0 0 24px;
}
.center .advice .advice-refresh img{
	position:absolute;
	left:-3px;
	top:0;
}




.footer{
	height:190px;
	width:960px;
	margin:-190px auto 0;
	background:url(../img/footer-bg.png) no-repeat 0 0;
}
.footer .social{
	font-size:16px;
	line-height:20px;
	color:#818181;
	padding:9px 0 0 208px;
	height:44px;
	margin-bottom:31px;
}
.footer .social span{
	float:left;
	margin:8px 10px 0 0;
}
.footer .social div{
	float:left;
	background:#333;
	padding:8px 4px 6px 5px;
}
.footer .social div img{
	display:block;
}
.footer .copy{
	float:left;
	color:#fff;
	line-height:18px;
	width:210px;
	margin:0 33px 0 0;
}
.footer .copy div{
	color:#bfbfbf;
	font-size:12px;
	margin:18px 0 0;
}
.footer .contact{
	float:left;
	color:#fff;
	line-height:18px;
	width:205px;
	margin:0 33px 0 0;
}
.footer .contact div{
	font-size:22px;
	line-height:22px;
	margin:9px 0 2px;
}
.footer .contact a{
	line-height:22px;
}
.footer .menu{
	float:left;
	margin:0;
	font-size:12px;
	width:252px;
}
.footer .menu li{
	float:left;
	background:url(../img/li.png) no-repeat 0 6px;
	margin:0 0 9px 9px;
	padding:0 0 0 10px;
	width:107px;
}
.footer .menu a{
	color:#ababab;
}
.footer .menu a:hover{
	color:#fff;
}
.footer .studiya{
	float:right;
	width:194px;
	line-height:18px;
	color:#fff;
	margin:-11px 0 0;
}
.footer .studiya div{
	margin:2px 0 3px;
}
.footer .banner{
	float:right;
	margin:-7px 2px 0 0;
}