<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>index</title>
<link href="css/stl.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/dw_scroll_c.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="page">
	<div class="top-bg">
    	<div class="main-pic">
        	<div class="head clearFix">
            	<div class="top-link">
                	<a href="#"><img src="img/ico-home.gif" alt=""></a>
                    <a href="#"><img src="img/ico-email.gif" alt=""></a>
                    <a href="#"><img src="img/ico-map.gif" alt=""></a>
                </div>
                <div class="menu">
                	<a href="#">Главная</a>
                    <span></span>
                    <a href="#">О компании</a>
                    <span></span>
                    <a href="#">Новости</a>
                    <span></span>
                    <a href="#">Портфолио</a>
                    <span></span>
                    <a href="#">Услуги</a>
                    <span></span>
                    <a href="#">Статьи</a>
                    <span></span>
                    <a href="#">Контакты</a>
                </div>
                <div class="cl"></div>
                <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
                <div class="contact">
                	Москва, Ул. Осташкова, 5
                    <div>+7 495 555-55-55</div>
                    <a href="#">Заказать звонок</a>
                </div>
            </div>
            <div class="center clearFix">
            	<div class="welcom">
               	  	<h1>Ремонт от простого до царского!</h1>
                    <p>Семейное Домашнее Счастье? Где же его найти…?</p>
                  	<p>Конечно в домашней обстановке, наполненной теплом и уютом, в кругу любимых людей. Найдите свое счастье сегодня! Компания г. Москвы «СДС РемСтрой» предлагает своим клиентам весь комплекс услуг, связанных с недвижимостью. Здесь Вы найдете полный спектр риэлторских услуг: продажа квартир, аренда квартир, купить квартиру, сдать квартиру, снять квартиру в Москве. Ремонт квартир в Москве под ключ от косметического до элитного, ремонт и отделка офисов, нежилых помещений.</p>
                    <div class="welcom-big">Не откладывайте свое счастье на завтра, звоните сейчас!</div>
                    <div class="form-request">
                    	<div class="form-request-ttl"><img src="img/ttl1.png" alt=""></div>
                        <form action="">
                        	<input name="" type="text" placeholder="E-mail" class="field">
                            <input name="" type="text" placeholder="Имя" class="field">
                            <textarea name="" cols="" rows="" placeholder="Комментарий" class="textarea"></textarea>
                            <button type="submit" class="btn-request">Отправить</button>
                        </form>
                    </div>
                </div>
                <div class="block-dp">
                	<img src="img/block-dp-bg.png" alt="" class="block-dp-bg">
                    <div class="block-dp-in">
                        <div class="block-dp-ttl"><img src="img/block-dp-ttl.png" alt=""></div>
                        <p>Мы обеспечиваем индивидуальный подход к каждому клиенту и дадим подробную профессиональную консультацию.</p>
                        <ul>
                            <li><a href="#">Дизайн дома</a></li>
                            <li><a href="#">Дизайн коттеджа</a></li>
                            <li><a href="#">Дизайн интерьера</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-rh">
                	<img src="img/block-dp-bg.png" alt="" class="block-rh-bg">
                    <div class="block-rh-in">
                        <div class="block-rh-ttl"><img src="img/block-rh-ttl.png" alt=""></div>
                        <p>Мы обеспечиваем индивидуальный подход к каждому клиенту и дадим подробную профессиональную консультацию.</p>
                        <ul>
                            <li><a href="#">Ремонт в гостинной</a></li>
                            <li><a href="#">Ремонт в спальне</a></li>
                            <li><a href="#">Ремонт в зале</a></li>
                            <li><a href="#">Ремонт в ванной</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cl"></div>
                <div class="example-ttl"><img src="img/example-ttl.png" alt=""></div>
                <div id="wn">
    				<div id="lyr1" class="clearFix">
                    	<table class="example">
                          <tr>
                            <td>
                            	<div class="example-item">
                                    <div class="example-item-ttl"><a href="#">Ремонт офиса «ВТБ  Управление проектами»</a></div>
                                    <a href="#"><img src="img/pic2.jpg" alt=""></a>
                                    <div class="example-item-date">12 мая 2013</div>
                                </div>
                            </td>
                            <td>
                            	<div class="example-item">
                                    <div class="example-item-ttl"><a href="#">Ремонт квартыры на Арбате</a></div>
                                    <a href="#"><img src="img/pic3.jpg" alt=""></a>
                                    <div class="example-item-date">12 мая 2013</div>
                                </div>
                            </td>
                            <td>
                            	<div class="example-item">
                                    <div class="example-item-ttl"><a href="#">Ремонт коттеджа на Рублевке</a></div>
                                    <a href="#"><img src="img/pic4.jpg" alt=""></a>
                                    <div class="example-item-date">12 мая 2013</div>
                                </div>
                            </td>
                            <td>
                            	<div class="example-item">
                                    <div class="example-item-ttl"><a href="#">Ремонт офиса  «Уральские пельмени»</a></div>
                                    <a href="#"><img src="img/pic5.jpg" alt=""></a>
                                    <div class="example-item-date">12 мая 2013</div>
                                </div>
                            </td>
                            <td>
                            	<div class="example-item">
                                    <div class="example-item-ttl"><a href="#">Ремонт офиса «ВТБ  Управление проектами»</a></div>
                                    <a href="#"><img src="img/pic2.jpg" alt=""></a>
                                    <div class="example-item-date">12 мая 2013</div>
                                </div>
                            </td>
                            <td>
                            	<div class="example-item">
                                    <div class="example-item-ttl"><a href="#">Ремонт квартыры на Арбате</a></div>
                                    <a href="#"><img src="img/pic3.jpg" alt=""></a>
                                    <div class="example-item-date">12 мая 2013</div>
                                </div>
                            </td>
                            <td>
                            	<div class="example-item">
                                    <div class="example-item-ttl"><a href="#">Ремонт коттеджа на Рублевке</a></div>
                                    <a href="#"><img src="img/pic4.jpg" alt=""></a>
                                    <div class="example-item-date">12 мая 2013</div>
                                </div>
                            </td>
                            <td>
                            	<div class="example-item">
                                    <div class="example-item-ttl"><a href="#">Ремонт офиса  «Уральские пельмени»</a></div>
                                    <a href="#"><img src="img/pic5.jpg" alt=""></a>
                                    <div class="example-item-date">12 мая 2013</div>
                                </div>
                            </td>
                          </tr>
                        </table>
                    </div>
                </div>
                <div id="scrollbar"></div>
                <div class="review">
                	<img src="img/review-pic.png" alt="" class="review-pic">
                    <div class="review-ttl"><img src="img/review-ttl.png" alt=""></div>
                    <p>Отлично умеют махать мастерком!<br> Очень доволен ремонтом и буду заказывать у них ремонт совей дачи</p>
                    <div class="review-author">Веньямин Ладыжский, <br>директор компании «Пепел и уголь»</div>
                    <a href="#" class="review-refresh"><img src="img/ico-refresh.png" alt="">Следующий отзыв</a>
                </div>
                <div class="advice">
                	<img src="img/advice-pic.png" alt="" class="advice-pic">
                    <div class="advice-ttl"><img src="img/advice-ttl.png" alt=""></div>
                    <div class="advice-link"><a href="#">Немного о натяжном потолке.</a></div>
                    <p>Натяжной потолок представляет собой идеально ровную поверхность (без учета провисания), получаемую натяжением пленки ПВХ специального состава.</p>
                    <a href="#" class="advice-refresh"><img src="img/ico-refresh.png" alt="">Следующий совет</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer clearFix">
	<div class="social clearFix">
    	<span>Поделится ремонтом:</span>
        <div><img src="img/pic1.png" alt=""></div>
    </div>
    <div class="copy">
    	&copy; 2013 Студия ремонта «Мастерков».
        <div>Ремонт квартир, офисов и коттеджей.</div>
    </div>
    <div class="contact">
    	Москва, Ул. Осташкова, 5
        <div>+7 495 555-55-55</div>
        <a href="#">info@masterkoff.ru</a>
    </div>
    <ul class="menu">
    	<li><a href="#">О компании</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Статьи</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
    <a href="#" class="banner"><img src="img/banner.png" alt=""></a>
    <div class="studiya">
    	<a href="http://studiya.ru/" target="_blank"><img src="img/studiya.png" alt=""></a>
        <div>Разработка и раскрутка сайта</div>
        <a href="http://studiya.ru/" target="_blank">www.studiya.ru</a>
    </div>
</div>
</body>
</html>