order allow deny
deny from all
allow from 127.0.0.1

<IfModule mod_charset.c>
  CharsetDisable On
</IfModule>
# Выставить кодировку по умолчанию стандартными средствами apache
AddDefaultCharset UTF-8


